{% extends 'blog/home.html' %}
{% load crispy_forms_tags %} 
<!-- For Using Crispy Forms Tags -->

{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form |crispy}} <!-- filter crisply used to customize the form in the better way -->
            </fieldset>
            <div class="form-group">
                <br>
                <button class="btn btn-outline-info" type="submit">Request Password</button>
            </div>
        </form>
    </div>
        
{% endblock body %}
    